<a href="https://colab.research.google.com/github/Fuohna/nlp-simple-chatbot-v1/blob/main/text_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import json
import string

# Preprocessing

In [24]:
leyzer_dev_url = 'https://raw.githubusercontent.com/cartesinus/leyzer/master/corpora/0.1.0/leyzer-dev-en-US-0.1.0.tsv'
leyzer_dev_df = pd.DataFrame(pd.read_csv(leyzer_dev_url, sep='\t'))

In [25]:
leyzer_df = leyzer_dev_df
leyzer_df.drop(["bio"], axis = 1, inplace = True)
leyzer_df

,domain,intent,utterance
0,Airconditioner,TurnOff,switch the air conditioning off
1,Airconditioner,TurnOff,turn the ac off
2,Airconditioner,TurnOn,switch on the aircon
3,Airconditioner,TurnOn,turn the aircon on
4,Airconditioner,ChangeTemperature,change the minimum and maximum temperatures on...
...,...,...,...
373,Youtube,FindQueryOnChannel,show a video from niki and gabi matching seinf...
374,Youtube,FindQueryOnChannel,show me a video from cineamasin matching lipst...
375,Youtube,FindQueryOnChannel,show me a videos published by wwe matching gre...
376,Youtube,NotifyOnNewFromFollowing,notify me when there is new video from youtube...
377,Youtube,NotifyonNewOnChannel,notify me when there is new video from youtube...

In [26]:
leyzer_df['utterance'] = leyzer_df['utterance'].apply(lambda sequence: [ltrs.lower() for ltrs in sequence if ltrs not in string.punctuation])
leyzer_df

,domain,intent,utterance
0,Airconditioner,TurnOff,"[s, w, i, t, c, h, , t, h, e, , a, i, r, , ..."
1,Airconditioner,TurnOff,"[t, u, r, n, , t, h, e, , a, c, , o, f, f]"
2,Airconditioner,TurnOn,"[s, w, i, t, c, h, , o, n, , t, h, e, , a, ..."
3,Airconditioner,TurnOn,"[t, u, r, n, , t, h, e, , a, i, r, c, o, n, ..."
4,Airconditioner,ChangeTemperature,"[c, h, a, n, g, e, , t, h, e, , m, i, n, i, ..."
...,...,...,...
373,Youtube,FindQueryOnChannel,"[s, h, o, w, , a, , v, i, d, e, o, , f, r, ..."
374,Youtube,FindQueryOnChannel,"[s, h, o, w, , m, e, , a, , v, i, d, e, o, ..."
375,Youtube,FindQueryOnChannel,"[s, h, o, w, , m, e, , a, , v, i, d, e, o, ..."
376,Youtube,NotifyOnNewFromFollowing,"[n, o, t, i, f, y, , m, e, , w, h, e, n, , ..."
377,Youtube,NotifyonNewOnChannel,"[n, o, t, i, f, y, , m, e, , w, h, e, n, , ..."

In [27]:
leyzer_df['utterance'] = leyzer_df['utterance'].apply(lambda word: ''.join(word))
leyzer_df

,domain,intent,utterance
0,Airconditioner,TurnOff,switch the air conditioning off
1,Airconditioner,TurnOff,turn the ac off
2,Airconditioner,TurnOn,switch on the aircon
3,Airconditioner,TurnOn,turn the aircon on
4,Airconditioner,ChangeTemperature,change the minimum and maximum temperatures on...
...,...,...,...
373,Youtube,FindQueryOnChannel,show a video from niki and gabi matching seinf...
374,Youtube,FindQueryOnChannel,show me a video from cineamasin matching lipst...
375,Youtube,FindQueryOnChannel,show me a videos published by wwe matching gre...
376,Youtube,NotifyOnNewFromFollowing,notify me when there is new video from youtube...
377,Youtube,NotifyonNewOnChannel,notify me when there is new video from youtube...

In [22]:
import nltk 
nltk.download('punkt')
from nltk.tokenize import (word_tokenize, sent_tokenize)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [28]:
leyzer_df['utterance'] = leyzer_df['utterance'].apply(lambda sent: word_tokenize(sent))
leyzer_df

,domain,intent,utterance
0,Airconditioner,TurnOff,"[switch, the, air, conditioning, off]"
1,Airconditioner,TurnOff,"[turn, the, ac, off]"
2,Airconditioner,TurnOn,"[switch, on, the, aircon]"
3,Airconditioner,TurnOn,"[turn, the, aircon, on]"
4,Airconditioner,ChangeTemperature,"[change, the, minimum, and, maximum, temperatu..."
...,...,...,...
373,Youtube,FindQueryOnChannel,"[show, a, video, from, niki, and, gabi, matchi..."
374,Youtube,FindQueryOnChannel,"[show, me, a, video, from, cineamasin, matchin..."
375,Youtube,FindQueryOnChannel,"[show, me, a, videos, published, by, wwe, matc..."
376,Youtube,NotifyOnNewFromFollowing,"[notify, me, when, there, is, new, video, from..."
377,Youtube,NotifyonNewOnChannel,"[notify, me, when, there, is, new, video, from..."

In [ ]:
col = leyzer_df['intent']
for row in col: